/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

header {
  display: block;
  width: 100%;
  max-width: 1300px;
  margin: 1vh auto;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between; /* Logo left, links right */
  align-items: center; /* Align vertically */
}

.nav-links {
  display: flex;
  align-items: center;
}

.logo a {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}

.logo img {
  display: block;
  width: 80px;
  height: auto;
}

header nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

header nav a:hover {
  color: rgb(187, 137, 234);
}

header nav a i {
  margin-right: 10px;
}

/* butger icon */
.menu-icon {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
  z-index: 1000;
  padding: 5px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.first-title {
  margin-top: 4rem;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hr-style {
  display: block;
  width: 100%;
  max-width: 1300px;
  margin: 4rem auto;

  width: 0;
  height: 3px;
  border: none;
  background-color: #be29ec;
  animation: slideIn 3s forwards;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.left-side {
  text-align: center;
}

.left-side img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 5rem;
}

.right-side {
  display: flex;
  flex-direction: column;
}

.h2_1 {
  font-size: 45px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 5px;
}

.h2_2 {
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

em {
  color: blueviolet;
  font-style: normal;
}

.right-side p {
  line-height: 1.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin-bottom: 2rem;
}

.downloadButton {
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  padding: 15px 30px;
  background-color: blueviolet;
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.downloadButton:hover {
  transform: scale(1.05);
  background-color: darkviolet;
}

.downloadButton i {
  margin-right: 10px;
}

/* Contents */
.contents {
  display: block;
  width: 100%;
  max-width: 1300px;
  margin: 2rem auto;
  padding: 20px;
}

hr {
  margin: 0 auto;
  width: 0;
  height: 3px;
  border: none;
  background-color: #be29ec;
  animation: slideIn 3s forwards;
}

@keyframes slideIn {
  to {
    width: 100%;
  }
}

/* Tabs */
.tabSection {
  display: flex;
  justify-content: left;
  gap: 50px;
  margin-top: 40px;
}

.tabSection p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#brain-icon {
  color: #f3b5b8;
  margin-right: 3px;
}

#graduation-cap-icon {
  color: aliceblue;
}

#gears-icon {
  color: gray;
}

#certificate-icon {
  color: #ffd43b;
}

#laptop-icon,
#gamepad-icon,
#code-icon {
  color: white;
}

#award-icon,
#user-grad-icon,
#briefcase-icon {
  color: white;
}

.tab-links {
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #be29ec;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents {
  display: none;
  justify-content: left;
  margin-top: 30px;
  padding: 80 80px;
}

.tab-contents ul li {
  list-style: none;
  margin: 20px 0;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5rem;
}

.tab-contents ul li span {
  color: #be29ec;
  align-items: center;
  gap: 10px;
  line-height: 2rem;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}

.tab-contents ul li span i {
  margin-right: 10px;
}

/* Certificate Image */
#myImage {
  display: none;
  max-width: 100%;
  margin-top: 10px;
}

.view-link {
  color: white;
  cursor: pointer;
}

.view-link:hover {
  color: #be29ec;
}

.active-tab {
  display: block;
}

.certificate-list {
  list-style: none;
  padding: 0;
}

.view-link {
  font-size: 14px;
  color: white;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.certificate-img {
  display: none;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
}

/* Language-Container Style */
.language-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.second-title {
  text-align: center;
  font-size: 2.5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 4rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

.language-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0 1rem;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.language-icons > div {
  min-width: 100px;
  text-align: center;
}

.language-icons i {
  color: white;
  transition: color 0.3s ease;
  cursor: pointer;
  background-color: black;
  padding: 20px 30px;
  border-radius: 10px;
}

.desc {
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin-top: 1rem;
  text-align: center;
}

.language-icons i:hover {
  background-color: #333; /* Darker background on hover */
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.csharp {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #68217a;
  padding: 20px 30px;
  border-radius: 10px;
  display: inline-block;
  font-size: 1.7rem;
  cursor: pointer;
}

.sql {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #336791; /* SQL color */
  padding: 20px 30px;
  border-radius: 10px;
  display: inline-block;
  font-size: 1.7rem;
  cursor: pointer;
}

.csharp:hover,
.sql:hover {
  background-color: #333; /* Darker background on hover */
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.python i {
  color: #3776ab; /* Python color */
}

.js i {
  color: #f7df1e; /* JavaScript color */
}

.html i {
  color: #e34f26; /* HTML color */
}
.css i {
  color: #1572b6; /* CSS color */
}

.java i {
  color: #f89820;
}

/* social section */
.social-containers {
  display: block;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.social-containers h2 {
  color: white;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 3.5rem;
}

.social-icons a {
  display: inline-block;
  color: white;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 40px;
  text-decoration: none;
  text-align: center;
  transition: transform 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

/* Optional: platform-specific colors */
.instagram:hover {
  color: #e1306c;
}

.facebook:hover {
  color: #1877f2;
}

.github:hover {
  color: #333;
}

footer {
  text-align: center;
  width: 100%;
  margin-top: 6rem;
  padding: 10px;
}

/* MOBILE and TABLET STYLES */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 50px;
    right: 40px;
  }

  .menu-icon i {
    color: white;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .menu-icon i.fa-xmark {
    transform: rotate(360deg); /* rotate when open */
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -250px; /* Hide it initially */
    height: 100%;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30px;
    transition: right 0.3s ease;
    z-index: 999;

    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
  }

  .nav-links a {
    margin: 15px 0;
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .nav-links a:hover {
    color: blueviolet;
  }

  .nav-links {
    transition: all 0.3s ease-in-out;
  }

  .nav-links.active {
    right: -40px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3); /* darkens it a bit */
    z-index: 998; /* behind sidebar */
    display: none; /* hidden by default */
    transition: opacity 0.3s ease;
  }
  .overlay.active {
    display: block;
  }

  .second-title {
    font-size: 2rem;
    padding: 0 1rem;
  }

  .language-icons {
    font-size: 2rem;
    gap: 15px;
  }

  .tabSection {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .tabSection p {
    font-size: 18px;
  }

  .right-side h2 {
    font-size: 28px;
  }

  .right-side p {
    font-size: 16px;
  }

  .social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 10px;
  }

  .social-containers h2 {
    font-size: 32px;
  }

  .first-title {
    font-size: 36px;
  }

  .tab-contents ul li {
    font-size: 16px;
  }

  .tab-contents ul li span {
    font-size: 18px;
  }
  .certificate-img {
    max-width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  header nav a {
    font-size: 16px;
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .language-icons {
    font-size: 1.8rem;
    gap: 10px;
  }

  .desc {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .project-text {
    display: none;
  }
}
