/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 1rem; /* Base = 16px */
  scroll-behavior: smooth;
}

header {
  display: block;
  width: 100%;
  max-width: 1300px;
  margin: 2vh auto;
  padding: 20px;
  margin-bottom: 5rem;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; /* Logo left, links right */
  align-items: center; /* Align vertically */
}

.nav-links {
  display: flex;
  align-items: center;
}

.logo a {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}

.logo a img {
  width: 100px;
  height: auto;
  cursor: pointer;
  display: block;
}

header nav a {
  margin-left: 30px;
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

header nav a:hover {
  color: rgb(187, 137, 234);
}

header nav a i {
  margin-right: 10px;
}

/* container */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.wrapped-img {
  text-align: center;
}

.wrapped-img img {
  width: 80%;
  height: auto;
  max-width: 100%;
  border-radius: 20%;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.texts h2.texts-first {
  font-size: 25px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texts h2.texts-second {
  font-size: 50px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

em {
  color: blueviolet;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutme-button {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.aboutme-button a {
  text-decoration: none;
  color: white;
  background-color: blueviolet;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
}

.aboutme-button a:hover {
  background-color: darkviolet;
  color: white;
  transition: background-color 0.3s ease;
}

.aboutme-button a i {
  margin-left: 5px;
}

p {
  font-size: 14px;
  line-height: 1.5;
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* social section */
.social-containers {
  display: block;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.social-icons a {
  display: inline-block;
  color: white;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 30px;
  text-decoration: none;
  transition: transform 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

/* Optional: platform-specific colors */
.instagram:hover {
  color: #e1306c;
}

.facebook:hover {
  color: #1877f2;
}

.github:hover {
  color: #333;
}

.menu-icon {
  display: none; /* Default hidden */
  font-size: 28px;
  color: white;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

footer {
  text-align: center;
  width: 100%;
  margin-top: 6rem;
  padding: 10px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 50px;
    right: 40px;
  }

  .menu-icon i {
    color: white;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .menu-icon i.fa-xmark {
    transform: rotate(360deg); /* rotate when open */
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -250px; /* Hide it initially */
    height: 100%;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30px;
    transition: right 0.3s ease;
    z-index: 999;

    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
  }

  .nav-links a {
    margin: 15px 0;
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .nav-links a:hover {
    color: blueviolet;
  }

  .nav-links {
    transition: all 0.3s ease-in-out;
  }

  .nav-links.active {
    right: -40px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3); /* darkens it a bit */
    z-index: 998; /* behind sidebar */
    display: none; /* hidden by default */
    transition: opacity 0.3s ease;
  }
  .overlay.active {
    display: block;
  }

  .texts h2.texts-second {
    font-size: 36px;
  }

  .wrapped-img img {
    max-width: 100%;
    border-radius: 10%;
    margin-bottom: 8rem;
  }

  footer {
    position: relative;
    margin-top: 30px;
    padding: 10px;
  }

  .container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .social-icons a {
    font-size: 30px;
    margin-right: 20px;
  }
}
