/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: white;
  scroll-behavior: smooth;
}

/* Header Styles */
header {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 2vh auto;
  padding: 20px;
  margin-bottom: 5rem;
}

nav {
  display: flex;
  justify-content: space-between; /* Logo left, links right */
  align-items: center; /* Align vertically */
}

.nav-links {
  display: flex;
  align-items: center;
}

.logo a {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}

.logo a img {
  width: 100px;
  height: auto;
  cursor: pointer;
  display: block;
}

header nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

header nav a:hover {
  color: rgb(187, 137, 234);
}

header nav a i {
  margin-right: 10px;
}

.menu-icon {
  display: none; /* Default hidden */
  font-size: 28px;
  color: white;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.Title1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.Title2 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

/* Style for the container to center video */
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #000;
  box-sizing: border-box;
}

/* Style for the iframe video */
.video {
  width: 100%;
  max-width: 600px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for iframe */
.video:hover {
  transform: scale(1.01);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.7);
}

.info-container {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 2vh auto;
  padding: 20px;
}

.info-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info-text p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Title3 h2,
.Title4 h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.Title3 i,
.Title4 i {
  font-size: 2rem;
  margin-left: 10px;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
}

.Title4 i:hover {
  color: gray;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  background-color: #333;
}

.unity-desc {
  color: white;
}

.Title3 i:hover {
  color: #f89820;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  background-color: #333;
}

.desc {
  color: white;
}

.Title3,
.Title4 {
  cursor: pointer;
}

.Title3 p,
.Title4 p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
}

.csharp {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  display: inline-block;
  font-size: 1.7rem;
  cursor: pointer;
  text-align: center;
}

.csharp:hover {
  color: #68217a;
  background-color: #333; /* Darker background on hover */
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.csharp p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
  color: white;
}

.info-image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.info-image-container img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.info-image-container img:hover {
  transform: scale(1.05);
}

.hidden {
  display: none;
  pointer-events: none;
}

#imageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;

  /* blur effect */
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

#imageOverlay.hidden {
  display: none;
}

#imageOverlay:not(.hidden) {
  opacity: 1;
}

#imageOverlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

/* Close button */
#imageOverlay .close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 10000;
}

/* Footer Style */
footer {
  text-align: center;
  width: 100%;
  margin-top: 5rem;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .menu-icon i {
    color: white;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .menu-icon i.fa-xmark {
    transform: rotate(360deg); /* rotate when open */
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -250px; /* Hide it initially */
    height: 100%;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30px;
    transition: right 0.3s ease;
    z-index: 999;

    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
  }

  .nav-links a {
    margin: 15px 0;
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .nav-links a:hover {
    color: blueviolet;
  }

  .nav-links {
    transition: all 0.3s ease-in-out;
  }

  .nav-links.active {
    right: -40px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3); /* darkens it a bit */
    z-index: 998; /* behind sidebar */
    display: none; /* hidden by default */
    transition: opacity 0.3s ease;
  }
  .overlay.active {
    display: block;
  }
  .video-container {
    padding: 10px;
  }

  .Title1 {
    font-size: 2rem;
  }

  .Title2 {
    font-size: 1.2rem;
  }

  .Title3 i,
  .Title4 i,
  .csharp {
    padding: 15px 20px;
    font-size: 1.4rem;
  }

  .csharp p,
  .Title3 p,
  .Title4 p {
    font-size: 0.9rem;
  }

  .info-image-container img {
    max-width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .Title1 {
    font-size: 1.6rem;
  }

  .Title2 {
    font-size: 1rem;
  }

  .info-text p {
    font-size: 0.9rem;
  }

  header nav a {
    font-size: 14px;
  }

  .logo a img {
    width: 70px;
  }
}
